{% extends '_layout.twig' %}

{% block stylesheets %}

{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block wrapper %}
<div class="promo">
    <div class="slider">
      {% for prom in promo %}  
        <div class="slider__item">
        <h1 class="slider__text">
            <span class="slider__text_large">{{ prom.textl }}</span>
            <span class="slider__text_medium">{{ prom.textm }}</span>
            <span class="slider__text_small">{{ prom.texts }}</span>
        </h1>
        <div><img src="{{ prom.img }}" width="100%"></div>
        </div>
        {% endfor %}
        
    </div>
    
<div class="promo__main">
<div class="news">
<h2 class="news__title">Последние новости 
    <a href="#" class="news__link">Все новости
        <span class="news__arrow">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 22 15" enable-background="new 0 0 50 50" xml:space="preserve" >
<polygon points="14.3,2.6 13.7,3.4 20,8 5,8 5,9 20,9 13.7,13.6 14.3,14.4 22,8.5 22,8.5 " fill="#e60000" />
</svg></span>
    </a>
</h2>
    <ul class="news__list">
        {% for new in news %}
        <li><img class="news__img" src="{{ new.imgscr }}">
            <div class="news__text"><p>{{ new.text }}</p><span class="news__date">{{ new.date }}</span></div>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="mail">
    <p>Получите бонус <span class="red">+20% стоимости</span> при оценке Вашего имущества</p>
    <input class="mail__email" type="email" placeholder="Ваш E-mail...">
    <input class="mail__button" type="button" value="Отправить">
    <p class="mail__info">Мы отправим Вам купон по электронной почте</p>
</div>
</div>
</div>
{% endblock %}